.upload-box {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  & form {
    /* color: white; */

    & button {
      background: none;
      border: none;
      cursor: pointer;
    }
    
  }
}

svg {
  transition: 0.2s;
  fill: rgba(92, 92, 92, 0.1);
}

svg:hover {
  /* transition: 0.2s; */
  transform: scale(1.025);
}
